__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.env
database/*.db
uploads/images/*
!uploads/images/.gitkeep
uploads/videos/*
!uploads/videos/.gitkeep
outputs/images/*
!outputs/images/.gitkeep
outputs/videos/*
!outputs/videos/.gitkeep
*.pt
Ultralytics/
.matplotlib/
*.log
